<div id="logo">

<%= image_tag("T2LogoWhite.png")%>

</div>

<div id="header">


<ul>
  <li><a href="/home">Hem</a></li> <!--   class="active"    -->

  <li class="dropdown">
    <a href="javascript:void(0)", class="dropbtn">Pass &caron;</a>
    <div class="dropdown-content">
      <a href="/chest">Bröst</a>
      <a href="/back">Rygg</a>
      <a href="/arms">Armar</a>
	  <a href="/shoulders">Axlar</a>
	  <a href="/legs">Ben</a>
    </div>
  </li>

  <%- # <li><a href="/wall">Frågor</a></li> -%>
  <li><a href="/about">Om</a></li>
</ul>

</div>