
<div id="postflow", align="center">
	<h1>Om denna sida!</h1>

	

		<%= image_tag("profpic.jpg", width: 300) %>

		<br>
		<p> Denna sidan gjordes av mig aka Filip Pennsäter.<br>
		Jag har alltid haft ett brinnande intresse för träning och haft många med och motgångar.<br>
		Så jag har valt att dela med mig av min erfarenhet och sammanställt ett välfungerande tränings-schema.<br>
		Det har fungerat för mig och lär med stor sannolikhet funka för dig med.<br>
		Det är dock inte 100% perfekt och jag gör månadsvis förändringar.<br>
		Tänk på att inte pressa på för hårt, skador och ineffektiva set kommer bara hålla dig tillbaka ännu mer.<br>
		Kör så pass tungt att du fortfarande kan kontrollera vikten perfekt, dvs låt inte vikten kontrollera dig!<br>
		Önskar er härliga pass och bra resultat, hej så länge :)</p>

	</div>

</div>
