<div id="postflow">

	<h1>Armar</h1>
	<center><p2>Viktigt:</p2>
	<p>Alla de set där antalet repetitioner inte nämns är 8-9 repetitioner vardera!</center>

	<div id="workoutsFlowText">

		<div id="textBoxes">
			<h3>Biceps</h3>
			<h3>Barbell curl (stående):</h3>
			Öka långsamt med 3 set som uppvärmning, försök sedan ta 3 set så högt du kan och gå ner i vikt 1 set.
		</div>

		<div id="textBoxes">
			<h3>Sittande barbbell curl:</h3>
			3-4 set med lagom hög vikt.
		</div>

		<div id="textBoxes">
			<h3>Alternate dumbbell curl:</h3>
			3-4 set med lagom hög vikt.
		</div>

		<div id="textBoxes">
			<h3>Hammer curl:</h3>
			3-4 set med hög vikt i början därefter lägre vikt.
		</div>


		<div id="textBoxes">
			<h3>Triceps</h3>
			<h3>Rep, Push down:</h3>
			3-4 set. (alla tricepsövningar kan man köra medelhögt-hög vikt)
		</div>

		<div id="textBoxes">
			<h3>Rep, tricep extension (över huvudet):</h3>
			3-4 set. (spola till 5:20)
		</div>

		<div id="textBoxes">
			<h3>Dips:</h3>
			3-4 set.
		</div>

		<div id="textBoxes">
			<h3>Enarms triceps push down:</h3>
			3-4 set.
			<h3>Klar!</h3></p>
		</div>

	</div>



	<div id="workoutsFlowVideo">
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/kwG2ipFRgfo" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/FvQ4rRooxgc" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/8d2we4UqOSs" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/TwD-YGVP4Bk" frameborder="0" allowfullscreen></iframe>

		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/vB5OHsJ3EME" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/bEDusgF5SGQ" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/sM6XUdt1rm4" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/Zl46Cxc4DDs" frameborder="0" allowfullscreen></iframe>
	</div>

</div>