<div id="postflow">

	<h1>Rygg</h1>
	<center><p2>Viktigt:</p2>
	<p>Alla de set där antalet repetitioner inte nämns är 8-9 repetitioner vardera!</center>

	<div id="workoutsFlowText">

		<div id="textBoxes">
			<h3>Uppvärmning:</h3>
			Rodd mellanhögt 5 min.
		</div>
	

		<div id="textBoxes">
			<h3>Pull up (maskin tills du klarar utan):</h3>
			Öka långsamt med 3 set som uppvärmning, försök sedan ta 3 set så högt du kan och gå ner i vikt 1 set. (spola till 1:40)
		</div>


		<div id="textBoxes">
			<h3>Lat-pulldown:</h3>
			3-4 set med lagom hög vikt (luta dig bakåt).
		</div>

		<div id="textBoxes">
			<h3>Sittande lats-drag:</h3>
			3-4 set med lagom/hög vikt.
		</div>

		<div id="textBoxes">
			<h3>Chin ups (finns maskiner):</h3>
			3-4 set.
		</div>

		<div id="textBoxes">
			<h3>Back extensions:</h3>
			3-4 set.
			<h3>Klar!</h3></p>
		</div>

	</div>

	<div id="workoutsFlowVideo">
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/GrWEZbhpkoA" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/KbH6JBXXrkE" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/JEb-dwU3VF4" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/GZbfZ033f74" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/c8G0_NEJ-yA" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/vx0jZBEmZcE" frameborder="0" allowfullscreen></iframe>
	</div>

</div>