<div id="postflow">

	<h1>Bröst</h1>
	<center><p2>Viktigt:</p2>
	<p>Alla de set där antalet repetitioner inte nämns är 8-9 repetitioner vardera!</center>

	<div id="workoutsFlowText">

		<div id="textBoxes">
			<h3>Uppvärmning:</h3>
			Crosstrainer mellanhögt 5 min + axelflys med låg vikt 2 set. <br>
		</div>
	

		<div id="textBoxes">
			<h3>Bröst-press fria vikter:</h3>
			Öka långsamt med 3 set som uppvärmning, försök sedan ta 3 set så högt du kan (med bra form) och gå ner i vikt 1 set.
		</div>


		<div id="textBoxes">
			<h3>Incline-press fria vikter:</h3>
			3 set med lagom hög vikt (lätt att skada sig om man presser för hårt för det är mer axlar).
		</div>

		<div id="textBoxes">
			<h3>Decline press maskin:</h3>
			3 set med hög vikt (lägg märke till att det ska kännas som du trycker ner under övningen).
		</div>

		<div id="textBoxes">
			<h3>Chest flys rak med rep:</h3>
			3 set, var försiktig och håll koll på att inte påfresta axlar för mycket.
		</div>

		<div id="textBoxes">
			<h3>Chest flys underifrån:</h3>
			3 set, var försiktig och håll koll på att inte påfresta axlar för mycket.
			<h3>Klar!</h3></p>
		</div>

	</div>
	
	<div id="workoutsFlowVideo">
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/9YiT_U_-wvU" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/VmB1G1K7v94" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/8iPEnn-ltC8" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/51NIR38Iq-w" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/WEM9FCIPlxQ" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/M1N804yWA-8" frameborder="0" allowfullscreen></iframe>
	</div>

</div>