
<div id="postflow", align="center">
	<h1>Välkommen till T2Datas träningshemsida!</h1>

	

		<%= image_tag("lol.jpg", width: 700) %>

		<br>

		<p2>Varning: </p2>
		<p> Ifall du inte vill se ut som en grekisk gud eller bli jagad av kvinnor överallt (ev män) så förpassa dig till annan form av träning (exempelvis crossfit eller spinning). På denna sida fokuserar vi på ökad muskelmassa!</p>

	</div>

</div>
