<div id="postflow">

	<h1>Ben</h1>
	<center><p2>Viktigt:</p2>
	<p>Alla de set där antalet repetitioner inte nämns är 8-9 repetitioner vardera!</center>

	<div id="workoutsFlowText">

		<div id="textBoxes">
			<h3>Uppvärmning:</h3>
			Löpband eller crosstrainer 10-15 min.
			<h3>Benpress eller squats:</h3>
			Öka långsamt med 3 set som uppvärmning, försök sedan ta 3 set så högt du kan och gå ner i vikt 1 set. (spola till 1:40)
		</div>

		<div id="textBoxes">
			(I dina squats kan du stå lite bredare än axelbredd med fötterna, "sumosquats" blir det då)
		</div>

		<div id="textBoxes">
			<h3>Utfallssteg:</h3>
			3-4 set med eller utan vikt 10-12 rep.
		</div>

		<div id="textBoxes">
			<h3>Leg extensions:</h3>
			3-4 set med lagom hög vikt.
		</div>

		<div id="textBoxes">
			<h3>Liggande leg curls:</h3>
			3-4 set med lagom/hög vikt.
		</div>

		<div id="textBoxes">
			<h3>Sittande/stående vadlyft:</h3>
			3-4 set, 10-20 rep vardera.
			<h3>Klar!</h3></p>
		</div>

	</div>

	<div id="workoutsFlowVideo">
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/IZxyjW7MPJQ" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/SW_C1A-rejs" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/vmNIuaeoR7A" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/YyvSfVjQeL0" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/3h6lab4GusU" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/JbyjNymZOt0" frameborder="0" allowfullscreen></iframe>
	</div>

</div>