<div id="postflow">

	<h1>Axlar</h1>
	<center><p2>Viktigt:</p2>
	<p>Alla de set där antalet repetitioner inte nämns är 8-9 repetitioner vardera!</center>

	<div id="workoutsFlowText">

		<div id="textBoxes">
			<h3>Uppvärmning:</h3>
			Crosstrainer mellanhögt 5 min + axelflys med låg vikt 2 set (alla tre flysövningarna x 8 rep).<br><br>Kör därefter så pass tungt att du kan stadigt ta upp vikterna <u>UTAN ATT SVINGA UPP DEM</u> och hålla kvar i någon halv sekund högst upp och gå ner långsamt. Gör 4 set (alla tre övningarna x 8 rep är ett set). Nybörjare kör vanligtvis 5-6 kg på varje hantel om de är otränade och sänker något kg mellan varje set.
		</div>

		<div id="textBoxes">
		</div>
	

		<div id="textBoxes">
			<h3>Arnold Press (finns den andra varianten där man inte trycker ihop):</h3>
			Öka långsamt med 3 set som uppvärmning, försök sedan ta 3 set så högt du kan så länge du håller 8-10 repetitioner på varje set. Om du inte klarar det så kör LÄGRE VIKT! Slutligen gå ner i vikt 1 set.
		</div>


		<div id="textBoxes">
			<h3>Axelpress i maskin (innersta handtagen):</h3>
			3-4 set med lagom hög vikt. (spola till 1:50)
		</div>

		<div id="textBoxes">
			<h3>Face pulls:</h3>
			3-4 set.
			<h3>Klar!</h3></p>
		</div>

	</div>

	<div id="workoutsFlowVideo">
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/9YiT_U_-wvU" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/BGu7vsyWWOs" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/eDOgha1WfIg" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/rJVXF2dw9FQ" frameborder="0" allowfullscreen></iframe>
		<iframe width="120%" height="40%" align="right" src="https://www.youtube.com/embed/rep-qVOkqgk" frameborder="0" allowfullscreen></iframe>
	</div>

</div>