<div id="postflow">

	<h1>Wall/frågor</h1>
	<center><p>Här kan ni ställa frågor eller komma med åsikter om förbättringar!</center>

	<div id="workoutsFlowText">

		<div id="textBoxes">
			<h3>Frågor och svar:</h3></p>
		</div>

	</div>

	<div id="workoutsFlowVideo">
		FEEETJÄVLABAAAR
	</div>

</div>